.actor-list {
    display: flex;
    margin: 20px;
  }
  
  .actor-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
  }
  
  .actor-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  